@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:200,300,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
/*$secondary: rgba(105, 211, 24, 1) */
/* rgba(179, 185, 171, 1)  #16222a #0E111B */
* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #ececed;
  font-family: 'Encode Sans Expanded', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.text-primary {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 1.6;
  text-align: left;
  font-weight: 400;
  color: #000;
  letter-spacing: -.25px;
  word-spacing: .5px;
}

.title-small {
  font-size: 1.5vw;
  line-height: 1.6;
  text-align: center;
  font-weight: 300;
  color: #444b57;
  letter-spacing: -.5px;
}

.title-medium {
  margin-top: 5vh;
  margin-bottom: 20px;
  padding: 10px;
  letter-spacing: -2px;
  font-size: 6.5vw;
  text-align: center;
  font-weight: 200;
  color: #fa6a39;
}

.title-large {
  font-size: 3.3vw;
  text-align: center;
  font-weight: 200;
  letter-spacing: -1px;
  color: #444b57;
}

.title-large span {
  font-weight: 700;
}

input:-webkit-autofill {
  border: solid #ececed 2px;
  -webkit-text-fill-color: #444b57;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill {
  border: solid #ececed 2px;
  -webkit-text-fill-color: #444b57;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

textarea:-webkit-autofill {
  border: solid #ececed 2px;
  -webkit-text-fill-color: #444b57;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
  border: solid #ececed 2px;
  -webkit-text-fill-color: #444b57;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

select:-webkit-autofill {
  border: solid #ececed 2px;
  -webkit-text-fill-color: #444b57;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  border: solid #ececed 2px;
  -webkit-text-fill-color: #444b57;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.wrapper.heading {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: #fa6a39;
  height: 95px;
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  -ms-transition: height 0.4s;
  -o-transition: height 0.4s;
  transition: height 0.4s;
}

header .logo {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 29px;
  color: #fff;
  line-height: 150px;
  height: 150px;
  width: 400px;
  font-weight: 200;
  font-size: 40px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

header .logo span {
  font-weight: 500;
}

.nav-primary {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
}

.ul-nav-primary {
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 2px;
}

.li-nav-primary {
  padding: 5px 0px;
}

.li-nav-primary:nth-child(1), .li-nav-primary:nth-child(2), .li-nav-primary:nth-child(3), .li-nav-primary:nth-child(4) {
  -webkit-flex-basis: 90px;
  -ms-flex-preferred-size: 90px;
  flex-basis: 90px;
}

.li-nav-primary:nth-child(5) {
  -webkit-flex-basis: 130px;
  -ms-flex-preferred-size: 130px;
  flex-basis: 130px;
}

.a-nav-primary {
  line-height: 150px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  display: block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.nav-getstarted {
  border: 1px solid #fff;
  padding: 4px 14px;
}

.logo.heading {
  padding-top: 0px;
}

header.smaller {
  height: 75px;
}

header.smaller .logo.heading {
  width: 190px;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
}

header.smaller .a-nav-primary {
  margin-top: -5px;
  line-height: 75px;
}

/* Navigation footer */
footer {
  margin-top: 12vh;
  min-height: 400px;
  width: 100%;
  background-color: #fa6a39;
}

footer .wrapper {
  max-width: 960px;
  margin: 0 auto;
}

footer .logo {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 15px;
  color: #fff;
  font-weight: 200;
  font-size: 24px;
  padding-left: 20px;
}

footer .logo span {
  font-weight: 500;
}

footer nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
}

footer nav ul {
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  padding-top: 4px;
}

footer nav li {
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  padding: 5px 0px;
}

footer nav li:nth-child(5) {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: 1px solid #fff;
}

footer nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  display: block;
}

.container-email {
  width: 100%;
  height: 100vh;
  padding-top: 0;
}

/*.wrapper
  max-width: 750px
  margin: 0 auto */
.wrapper-form {
  max-width: 900px;
  margin: 0 auto;
}

.fa-paper-plane {
  color: #fa6a39;
  font-size: 40px;
  font-size: 3.5vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.space {
  padding: 10px 0;
}

form {
  font-family: "Encode Sans Expanded", sans-serif;
  font-size: 10px;
  padding-top: 44px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

input, textarea, .button {
  box-sizing: border-box;
  width: 80%;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 16px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 15px;
  border: none;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 200;
  font-size: 15px;
}

input, textarea, .button a:focus {
  outline: none;
  border: none;
}

textarea {
  height: 14em;
  resize: vertical;
}

.button {
  width: 150px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #fa6a39;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 500;
  transtion: all 250ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #444b57;
}

.faster-web-how {
  min-height: 2000px;
  font: sans-serif;
  background-color: #fff;
}
