/*$secondary: rgba(105, 211, 24, 1) */
/* rgba(179, 185, 171, 1)  #16222a */
html {
  box-sizing: border-box;
  font-size: 2;
}

body {
  background: #eee;
  font-family: 'Encode Sans Expanded', sans-serif;
}

.title-small {
  font-size: 1.5vw;
  line-height: 1.6;
  text-align: center;
  font-weight: 300;
  color: #43464b;
  letter-spacing: -.5px;
}

.title-medium {
  margin-top: 5vh;
  margin-bottom: 20px;
  padding: 10px;
  letter-spacing: -2px;
  font-size: 6.5vw;
  text-align: center;
  font-weight: 200;
  color: #fa6a39;
}

.title-large {
  font-size: 3.3vw;
  text-align: center;
  font-weight: 200;
  letter-spacing: -1px;
  color: #43464b;
}

.title-large span {
  font-weight: 700;
}

/* faster web  new page */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

input {
  outline: none;
  border: none;
}

form {
  position: relative;
  box-sizing: border-box;
}

.form-url {
  padding: 20px 257px 20px 40px;
  font-size: 24px;
  line-height: 1.7em;
  border: solid #e5e5e6 2px;
  border-radius: 2em;
  background: #fff;
  color: #43464b;
  font-weight: 300;
  display: block;
  width: 100%;
}

.form-submit {
  position: absolute;
  top: 1px;
  right: 0;
  background-color: #fa6a39;
  color: #fff;
  border: #fa6a39 solid 2px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.45em;
  font-weight: 700;
  padding: 24.5px 55px;
  cursor: pointer;
  border-radius: 2.5em;
  text-decoration: none;
  max-width: 100%;
  white-space: normal;
}

.wrapper.heading {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: #fa6a39;
  height: 95px;
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  -ms-transition: height 0.4s;
  -o-transition: height 0.4s;
  transition: height 0.4s;
}

header .logo {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 29px;
  color: #fff;
  line-height: 150px;
  height: 150px;
  font-weight: 200;
  font-size: 40px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

header .logo span {
  font-weight: 500;
}

header nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
}

header nav ul {
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 2px;
}

header nav ul li {
  padding: 5px 0px;
}

header nav li {
  -webkit-flex-basis: 90px;
  -ms-flex-preferred-size: 90px;
  flex-basis: 90px;
  -webkit-flex-basis: 130px;
  -ms-flex-preferred-size: 130px;
  flex-basis: 130px;
}

header nav a {
  line-height: 150px;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  display: block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

header nav .nav-getstarted {
  border: 1px solid #fff;
  padding: 4px 14px;
}

.logo.heading {
  padding-top: 0px;
}

header.smaller {
  height: 75px;
}

header.smaller .logo.heading {
  width: 150px;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
}

header.smaller .logo.heading nav a {
  margin-top: -5px;
  line-height: 75px;
}

/* Navigation footer */
footer {
  margin-top: 12vh;
  min-height: 400px;
  width: 100%;
  background-color: #fa6a39;
}

footer .wrapper {
  max-width: 960px;
  margin: 0 auto;
}

footer .logo {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 15px;
  color: #fff;
  font-weight: 200;
  font-size: 24px;
  padding-left: 20px;
}

footer .logo span {
  font-weight: 500;
}

footer nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
}

footer nav ul {
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  padding-top: 4px;
}

footer nav li {
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  padding: 5px 0px;
}

footer nav li:nth-child(5) {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: 1px solid #fff;
}

footer nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  display: block;
}

.container-email {
  width: 100%;
  height: 100vh;
  padding-top: 0;
}

.wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.fa-paper-plane {
  color: #fa6a39;
  font-size: 40px;
  font-size: 3.5vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.space {
  padding: 10px 0;
}
