/* Navigation footer
footer
    margin-top: 12vh
    min-height: 400px
    width: 100%
    background-color: #fa6a39

    .wrapper
        max-width: 960px
        margin: 0 auto

    .logo
        flex: 1 1 auto
        padding-top: 15px
        color: #fff
        font-weight: 200
        font-size: 24px
        padding-left: 20px

        span
            font-weight: 500

    nav
        display: flex
        margin-top: 0px

        ul
            flex: 2 1 auto
            display: flex
            list-style-type: none
            padding: 0
            padding-top: 4px
        li
            flex: 2 1 auto
            padding: 5px 0px

            &:nth-child(5)
                flex: 1 1 auto
                border: 1px solid #fff

        a
            text-decoration: none
            color: #fff
            font-weight: 300
            font-size: 15px
            text-align: center
            display: block
