header.container-heading
   background-color: $primary
   width: 100%
   height: 50px
   position: fixed
   top: 0
   left: 0
   z-index: 999
   opacity: 1
   margin: 0
   padding: 0
   box-shadow: 0px 0px 6px rgba($secondary, 0.4)

.wrapper.heading
   max-width: 960px
   margin: 0 auto

.nav-primary
   padding: 0
//.graphic
  background-image: url(../logo/Sprintifylogo.svg)
  width: 65%
  height: 65%
  background-repeat: no-repeat
  background-position: center left
  padding-left: 20px
  position: relative
  top: 17px
  //margin-top: 70px

.logo.heading
   font-family: $font-stack
   letter-spacing: 1px
   color: $white
   height: 50px
   font-weight: $font-light
   font-size: 24px
   padding: 4px 0 0 20px
   cursor: pointer
   &:hover
      color: lighten($secondary, 5%)
.a-logo
   text-decoration: none

.ul-nav-primary
   list-style-type: none
   margin: 0
   padding: 0
   list-style-type: none
   overflow: hidden //Important for hamburger hide menu dropd
   background-color: lighten($secondary, 5%)

.li-nav-primary
   border-bottom: 2px solid lighten($secondary, 50%)

.li-nav-primary:last-child
   border-bottom: none

.a-nav-primary
   line-height: 42px
   text-decoration: none
   color: $text-inverse
   font-weight: $font-black
   font-size: 14px
   text-align: center
   display: block
   border-bottom: $white
   text-transform: uppercase
   &:hover
      background-color: lighten($secondary, 15%)




/* ===== FORMS getstarted with different navigation======= */

//header.getstarted-header
   background-color: $white
   width: 100%
   height: 50px
   position: fixed
   top: 0
   left: 0
   z-index: 999
   opacity: .97
   margin: 0
   padding: 0
   box-shadow: 0px 0px 6px rgba($secondary, 0.4)

//div.getstarted-logo
      flex: 1 1 auto
      margin-top: 0
      color: $white
      width: 250px
      height: 50px
      font-weight: $font-light
      font-size: 24px
      transition: all 0.4s
      span
         font-weight: $font-light

//.getstarted-nav
   display: flex
   flex-direction: column

//.getstarted-ul
   flex: 2 1 auto
   display: flex
   flex-direction: column
   list-style-type: none
   margin: 0
   padding: 0
   background-color: $primary

//.getstarted-li
   border-bottom: 1px solid $white

//.getstarted-li:last-child
   border-bottom: none

//.getstarted-a
   line-height: 42px
   text-decoration: none
   color: $text-inverse
   font-weight: $font-normal
   font-size: 15px
   text-align: center
   display: block
   border-bottom: $white










/* ======================================================================
   ===================== MEDIA QUIERIES =================================
   ====================================================================== */

@media screen and (min-width: 768px)
   header .menu-icon
      display: none

   header.container-heading
      height: 100px
      transition: height 0.4s
      padding: 0

      .logo.heading
         flex: 1 1 auto
         margin-top: -3px
         line-height: 100px
         height: 100px
         width: 270px
         letter-spacing: .2px
         font-size: 36px
         transition: all 0.4s
         padding-left: 0


   .nav-primary
      display: flex
      flex-direction: row
      margin-top: 0
      padding-left: 0
      margin-left: 20px

   .ul-nav-primary
      flex: 2 1 auto
      display: flex
      flex-direction: row
      overflow: visible //Important for hamburger text back
      justify-content: flex-end
      margin-top: -5px
      background-color: transparent
      //background-color: $primary

   .li-nav-primary
      padding: 5px 0
      border-bottom: none

   .li-nav-primary
      border-bottom: none
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
         flex-basis: 70px
      &:nth-child(5)
         flex-basis: auto

   .a-nav-primary
      line-height: 100px
      font-weight: $font-normal
      letter-spacing: .5px
      text-transform: none
      text-align: center
      transition: all 300ms ease-in
      &:hover
         color: $secondary
         background-color: $primary

   span.secondary
         border: 1px solid $white
         padding: 2px  10px 3px 10px

   .logo.heading
       padding-top: 0


   header.smaller
        height: 50px
        background-color: $white
        opacity: .97
        box-shadow: 0px 0px 6px rgba($secondary, 0.4)

   header.smaller .logo.heading
      width: 190px
      height: 50px
      line-height: 50px
      font-size: 24px
      margin-top: -2px
      color: $primary
      span
         color: $primary

   header.smaller .a-nav-primary
      margin-top: 0px
      line-height: 50px
      color: $primary
      &:hover
         background-color: $white
         color: $secondary

   header.smaller .primary
         border: 1px solid $primary
         padding: 2px  10px 3px 10px
