.text-primary
    font-family: $font2-stack
    font-size: 1.6vw
    line-height: 1.8
    text-align: left
    font-weight: $font2-normal
    color: $secondary
    letter-spacing: -.25px
    word-spacing: .5px

.title-small
    font-family: $font-stack
    font-size: 1.5vw
    line-height: 1.6
    text-align: center
    font-weight: $font-normal
    color: $secondary
    letter-spacing: -.5px


.title-medium
    font-family: $font-stack
    margin-bottom: 20px
    padding: 10px
    letter-spacing: -1px
    font-size: 3.5vw
    text-align: left
    font-weight: $font-light
    color: $secondary

.title-large
    font-family: $font-stack
    font-size: 6vw
    text-align: left
    font-weight: $font-light
    letter-spacing: -1px
    color: $secondary
    line-height: 1.2

.title-large span
    font-weight: $font-black
